In [1]:
import pandas as pd

In [2]:
xl = pd.read_excel(
    "Sample Data.xlsx", 
    sheet_name=pd.ExcelFile("Sample Data.xlsx").sheet_names, 
    index_col=0
)

In [3]:
for sheet in xl.keys():
    print('Key {}'.format(sheet))
    xl[sheet] = xl[sheet].T.assign(sheet_name=sheet).set_index(['sheet_name'], append=True)

Key Sheet1
Key Sheet2

In [4]:
df = pd.concat(xl.values())

In [5]:
df

,Compounds,ABC,BCD,CDE,DEF,EFG,FGH,GHI,HIJ,IJK,JKL,...,ABCYY,BCDYY,CDEYY,DEFYY,EFGYY,FGHYY,GHIYY,HIJYY,IJKYY,JKLYY
,sheet_name,,,,,,,,,,,,,,,,,,,,,
42,Sheet1,0.078,0.015,0.006,0.004,0.051,0.083,0.028,0.090,0.064,0.013,...,0.044,0.004,0.064,0.046,0.015,0.094,0.007,0.055,0.051,0.078
65,Sheet1,0.009,0.079,0.045,0.017,0.042,0.006,0.084,0.084,0.032,0.070,...,0.095,0.100,0.072,0.075,0.004,0.057,0.100,0.046,0.075,0.057
98,Sheet1,0.068,0.063,0.027,0.094,0.070,0.007,0.082,0.009,0.047,0.094,...,0.061,0.004,0.096,0.045,0.041,0.002,0.013,0.052,0.074,0.080
42,Sheet2,0.078,0.015,0.006,0.004,0.051,0.083,0.028,0.090,0.064,0.013,...,0.044,0.004,0.064,0.046,0.015,0.094,0.007,0.055,0.051,0.078
65,Sheet2,0.009,0.079,0.045,0.017,0.042,0.006,0.084,0.084,0.032,0.070,...,0.095,0.100,0.072,0.075,0.004,0.057,0.100,0.046,0.075,0.057
98,Sheet2,0.068,0.063,0.027,0.094,0.070,0.007,0.082,0.009,0.047,0.094,...,0.061,0.004,0.096,0.045,0.041,0.002,0.013,0.052,0.074,0.080